/*Pagina Historia*/

.img-h {
    width: 90%;
    margin: 12%;
    border-radius: 35px;
}

.parrafo {
    color: rgb(34, 21, 7);
    font-size: large;
    font-weight: bolder;
    text-align: justify;
    width: 87%;
    margin: 7%;
    height: 74%;
    background-image: linear-gradient(rgba(231, 219, 40, 0.76), rgba(255, 72, 0, 0.801));
    padding: 45px;
    border-radius: 30px;
}