$bg-bodyimage: url(../assets/img/healthy-lunch.jpg);
$colorh: rgb(163, 82, 24);
$bgcolorh: rgba(223, 200, 1, 0.473);
$fuente-grande: 300%;
$fuente-parrafo:font-size large;
$pantalla-grande:1200px;
$pantalla--mediana:971px;
$pantalla-chica:650px;

//mixin

@mixin grid-colum {
    /*display: grid;
    grid-template-columns: 40% 30%;
    align-items: center;*/
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
}







